section {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background)
}

article {
    position: relative;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    min-height: 100%;
    flex-wrap: wrap;
    width: 66%;
    background-color: var(--surface-1);
    border-left: 1px solid var(--outline);
    border-right: 1px solid var(--outline)
}

.wrapper {
    position: relative;
    width: 20%;
    height: 33%;
    margin: 10px;
    background-color: var(--surface-2);
    border-radius: 4px;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--outline);
    height: 100%;
    color: var(--background);
    background-image: url(../assets/page.png);
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    background-size: cover;
    background-position: center;
    opacity: 0.75;
    border-radius: 4px;
}

.wrapper:hover .tile{
    opacity: 1;
}

.floatingButton {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 60px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: var(--secondary-container);
    color: var(--background);
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    justify-content: space-around;
    align-items: center;
    transition: background-color 0.5s;
}

.floatingButton:hover {
    background-color: var(--secondary);
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: var(--surface-1);
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s;
    border: 1px solid var(--outline);
    border-radius: 4px;
}

.wrapper:hover .buttonContainer {
    opacity: 1;
}

.tileButton {
    flex: 1;
    color: var(--text);
    border: none;
    background-color: var(--surface-1);
    padding: 5px 10px;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--outline);
    cursor: pointer;
}

.tileButton:hover {
    background-color: var(--surface-3);
}

.tileButton:active {
    background-color: var(--surface-4);
}