* {
    box-sizing: border-box;
}

.page {
    width: 210mm;
    height: 297mm;
    margin: 30px auto;
    background-image: url(../assets/page.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 1px 4px 14px #000;
    padding-left: 1.5cm;
    padding-right: 1.5cm;
    padding-bottom: 0.5cm;
    padding-top: 1cm;
}

.page, .columnWrapper {
    column-count: 2;
    column-fill: auto;
    overflow: hidden;
}

.columnWrapper {
    height: 282mm;
}

.page * {
    font-size: .317cm;
}

.page .columnWrapper {
    column-span: all;
    position: relative;
}

.page .wide {
    column-span: all;
    text-align: center;
}

.page .cover {
    position: absolute;
    top: 0;
    width: 100%;
}

.page .title {
    text-shadow: 1px 1px 0 #EFCD98, -1px 1px 0 #EFCD98, 1px -1px 0 #EFCD98, -1px -1px 0 #EFCD98, 0px 1px 0 #EFCD98, 0px -1px 0 #EFCD98, -1px 0px 0 #EFCD98, 1px 0px 0 #EFCD98, 2px 2px 0 #EFCD98, -2px 2px 0 #EFCD98, 2px -2px 0 #EFCD98, -2px -2px 0 #EFCD98, 0px 2px 0 #EFCD98, 0px -2px 0 #EFCD98, -2px 0px 0 #EFCD98, 2px 0px 0 #EFCD98, 1px 2px 0 #EFCD98, -1px 2px 0 #EFCD98, 1px -2px 0 #EFCD98, -1px -2px 0 #EFCD98, 2px 1px 0 #EFCD98, -2px 1px 0 #EFCD98, 2px -1px 0 #EFCD98, -2px -1px 0 #EFCD98;
    font-size: 7em;
    position: absolute;
    bottom: 60px;
    width: 100%;
    text-align: center;
}

.page .subtitle {
    margin-top: -30px;
    font-size: 1.4em;
    color: #5E0000;
    background-image: url(../assets/subtitle.png);
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 0 40px 40px 40px;
    background-size: 800px;
    font-family: 'DM Serif Text', serif;
    text-align: justify;
}

.page .break {
    break-after: column;
}

.page .linebreak {
    border-bottom: 1px solid;
}

.page .action {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: -1px;
    margin-left: -1px;
}

.page .oneaction {
    width: 14px;
}

.page .line .oneaction {
    width: 12px;
}

.page .twoaction {
    height: 22px;
}

.page .line .twoaction {
    height: 18px;
    width: 18px;
}

.page .threeaction {
    height: 28px;
}

.page .line .threeaction {
    height: 24px;
    width: 24px;
}

.page .label {
    float: right;
    font-size: .458cm;
}

.page .tag {
    margin: 0;
    margin-right: -4px;
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    border: 2px solid #DAC68A;
    border-radius: 2px;
    background-color: #58180D;
    color: white;
    text-align: center;
    padding: 2px 4px;
    text-transform: uppercase;
}

.page .line {
    margin-left: 1em;
    text-indent: -1em;
}

.page h1, .page h2, .page h3, .page h4, .page h5 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.page h1 {
    font-size: 5em;
    -webkit-text-stroke-width: 1.2px;
    font-family: 'Eczar', sans-serif;
    color: #58180D;
}

.page h2 {
    color: #02256E;
    font-size: 2.25em;
    line-height: 1.1;
    -webkit-text-stroke-width: 0.9px;
    font-family: 'Eczar', sans-serif;
}

.page h3 {
    font-family: 'Teko', sans-serif;
    font-size: 2em;
    -webkit-text-stroke-width: 0.6px;
    font-weight: normal;
    color: #58180D;
}

.page h4 {
    font-family: 'Tauri', sans-serif;
    margin-bottom: 0;
    border-bottom: 1px solid;
    font-size: .458cm;
    font-weight: normal;
    -webkit-text-stroke-width: 0.5px;
    color: #000000;
}

.page h5 {
    font-family: 'Tauri', sans-serif;
    font-size: .423cm;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 10.5px;
    color: #000000;
}

.page h6 {
    background-color: #002664;
    color: #EDE3C8;
    border-bottom: 1px solid #002664;
    margin-bottom: 5px;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 3px;
    font-size: 1.25em;
    font-family: 'Tauri', sans-serif;
    text-transform: uppercase;
    border-radius: 12px 12px 0px 0px;
    font-weight: 500;
    margin-top: 10.5px;
}

.page p {
    font-family: 'Gelasio', sans-serif;
    line-height: 1.4;
    text-align: justify;
    margin: 0;
}

.page p + p {
    text-indent: 1em;
}

.page img {
    vertical-align: middle;
}
