[data-theme="light"] {
    --background: #f8fafd;
    --text: #001f25;
    --surface-1: #f3f6fc;
    --surface-2: #eff3fa;
    --surface-3: #edf2fa;
    --surface-4: #eaf0f9;
    --primary: #d3e4ff;
    --primary-container: #1160a4;
    --secondary: #ffdad3;
    --secondary-container: #9c4233;
    --outline: #73777f;
    --tertiary: #ffe08b;
    --tertiary-container: #745b00;
}

[data-theme="dark"] {
    --background: #000000;
    --surface-1: #0d0d0d; 
    --surface-2: #141414;
    --surface-3: #1b1b1b;
    --surface-4: #212121; 
    --text: #e3e3e3;
    --primary: #a1c9ff;
    --primary-container: #004880;
    --secondary: #DD9F92;
    --secondary-container: #7d2c1e;
    --outline: #8d9199;
    --tertiary: #eac248;
    --tertiary-container: #584400;
    --pagebreak: #d43216;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    color: var(--text);
}

html {
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  * {
    font-size: 16px;
  }
}

html, body, nav, main {
    display: flex;
    flex-basis: 100%;
    max-height: 100%;
    overflow: hidden;
}

body {
    flex-direction: column;
}

nav {
    background-color: var(--background);
    border-bottom: 1px solid var(--outline);
    justify-content: space-between;
}

nav button, nav #buttonContainer, nav .dropdownButton {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

a {
    text-decoration: none;
}

button, #title, .dropdownContent {
    transition: 0.5s;
    background-color: var(--background);
}

button:hover, #title:hover, #addDocumentButton:hover, #importDocumentButton:hover, #sortOrder:hover {
    background-color: var(--tertiary-container);
}

button:active, #title:active {
    background-color: var(--primary-container);
}

#darkMode {
    display:flex;
    align-items:center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-left: auto;
}

#title {
    font-size: 20px;
    padding: 10px;
    font-family: 'Tauri', sans-serif;
    font-weight: normal;
}

main * {
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background-color: var(--surface-1); 
}

::-webkit-scrollbar-thumb {
    background-color: var(--outline);
    border-radius: 10px;
    transition: 0.5s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--tertiary-container);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--primary-container);
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-container) var(--surface-1);
}

.accessibleText {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.accessibleText:focus {
    clip: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    width: auto;
}