[data-theme="light"] {
    --background: #f8fdff;
    --text: #001f25;
    --surface-1: #f8fafd;
    --surface-2: #f3f6fc;
    --surface-3: #eff3fa;
    --surface-4: #edf2fa;
    --primary: #1160a4;
    --primary-container: #d3e4ff;
    --secondary: #9c4233;
    --outline: #73777f;
    --tertiary: #745b00;
    --tertiary-container: #ffe08b;
}

[data-theme="dark"] {
    --background: #1f1f1f;
    --text: #e3e3e3;
    --surface-1: #28292a;
    --surface-2: #2d2f31;
    --surface-3: #333438;
    --surface-4: #34363a;
    --primary: #a1c9ff;
    --primary-container: #004880;
    --secondary: #7d2c1e;
    --outline: #8d9199;
    --tertiary: #eac248;
    --tertiary-container: #584400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    color: var(--text);
}

html {
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  * {
    font-size: 16px;
  }
}

html, body, nav, main {
    display: flex;
    flex-basis: 100%;
    max-height: 100%;
    overflow: hidden;
}

body {
    flex-direction: column;
}

nav {
    background-color: var(--background);
    border-bottom: 1px solid var(--outline);
}

nav * {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

a {
    text-decoration: none;
}

button {
    background-color: var(--background);
}

button:hover, #title:hover {
    background-color: var(--tertiary-container);
}

button:active, #title:active {
    background-color: var(--primary-container);
}

#darkMode {
    display:flex;
    align-items:center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-left: auto;
}

#title {
    font-size: 20px;
    padding: 10px;
    font-family: 'Tauri', sans-serif;
    font-weight: normal;
}

main * {
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background-color: var(--surface-1); 
}

::-webkit-scrollbar-thumb {
    background-color: var(--surface-3);
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--surface-4);
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--surface-3) var(--surface-1);
}
