:root {
    --background: #1f1f1f;
    --text: #e3e3e3;
    --surface-1: #28292a;
    --surface-2: #2d2f31;
    --surface-3: #333438;
    --surface-4: #34363a;
    --primary: #a1c9ff;
    --secondary: #ffb4a6;
    --secondary-container: #7d2c1e;
    --outline: #8d9199;
    --tertiary: #eac248;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    color: var(--text);
    background-color: var(--background)
}

html {
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  * {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body, nav, main {
    display: flex;
    flex-basis: 100%;
    max-height: 100%;
    overflow: hidden;
}

body {
    flex-direction: column;
}

nav {
    background-color: rgb(18, 24, 32);
    padding: 5px;
}

nav ul
{
    flex-grow: 1;
    align-self: center;
}

nav * {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

a {
    text-decoration: none;
}

#title {
    font-size: 20px;
    padding: 10px;
    font-family: 'Tauri', sans-serif;
    font-weight: normal;
}

#title:hover {
    background-color: var(--surface-2);
}

#title:active {
    background-color: var(--surface-3);
}

main * {
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background-color: var(--surface-1); 
}

::-webkit-scrollbar-thumb {
    background-color: var(--surface-3);
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--surface-4);
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--surface-3) var(--surface-1);
}
