@{
    ViewData["Title"] = "Library";
}
<link rel="stylesheet" href="~/css/library.css" />
<!DOCTYPE html>
<html>
<head>
    <title>Tabletop Documents</title>
</head>
<body>

    <section>
        <article id="tiles">
            <button class="floatingButton" id="addDocumentButton" onclick="addDocument()"><i class="fa-solid fa-plus"></i></button>
            <button class="floatingButton" id="importDocumentButton" onclick="importDocument"><i class="fa-solid fa-file-import"></i></button>
            <input type="file" hidden accept=".json" id="importDocument"/>
        </article>
    </section>
    <script>
        class LocalStorageManager {
            getKey(key) {
                key = JSON.parse(localStorage.getItem(key))
                return key ? key : null;
            }

            getKeys() {
                let keys = Object.keys(localStorage)
                if (keys) return keys;
                return [];
            }

            setKey(key, value) {
                localStorage.setItem(key, JSON.stringify(value));
            }

            removeKey(key) {
                localStorage.removeItem(key);
            }
        }

        class DocumentManager {
            constructor(storageManager) {
                this.storageManager = storageManager;
            }

            getAllDocuments() {
                let docs = [];
                for (let key of this.storageManager.getKeys()) {
                    if (key.startsWith("doc")) {
                        docs.push({
                            key: key,
                            data: this.storageManager.getKey(key)
                        });
                    }
                }
                return docs;
            }

            removeDocument(key) {
                this.storageManager.removeKey(key);
            }

            addDocument(parameters) {
                const uid = this._generateUID();
                const name = (parameters["name"] !== undefined) ? (parameters["name"]) : "";
                const content = (parameters["content"] !== undefined) ? (parameters["content"]) : "";
                const cover = (parameters["cover"] !== undefined) ? (parameters["cover"]) : "";
                this.storageManager.setKey(uid, { name: name, content: content, cover: cover });
                this.storageManager.setKey('currentlyOpen', uid);
            }

            exportDocument(key) {
                const document = this.storageManager.getKey(key); 
                const jsonContent = 
                {
                    "name": document["name"],
                    "content": document["content"],
                    "cover": document["cover"]
                };
                const fileName = `${document["name"]}.json`
                const file = new Blob([JSON.stringify(jsonContent)], {
                    type: 'application/json'
                });
                const link = DOMManager.createElement("a");
                link.download = fileName;
                link.href = window.URL.createObjectURL(file);
                link.dataset.downloadurl = ["text/json", link.download, link.href].join(":");
                const evt = new MouseEvent("click", {
                    view: window,
                    bubbles: true,
                    cancelable: true,
                });

                link.dispatchEvent(evt);
                link.remove()
            }

            _generateUID() {
                return 'doc_' + Date.now().toString(36) + Math.random().toString(36).substring(2);
            }
        }

        class DOMManager {
            static createElement(type, className, content = '') {
                let element = document.createElement(type);
                if (className) {
                    element.className = className;
                }
                if (content) {
                    element.textContent = content;
                }
                return element;
            }

            static appendChild(parent, child) {
                parent.appendChild(child);
            }

            static removeChild(parent, child) {
                parent.removeChild(child);
            }

            static updateTextContent(element, newTextContent) {
                element.textContent = newTextContent;
            }
        }

        const storageManager = new LocalStorageManager();
        const docManager = new DocumentManager(storageManager);

        function displayDocuments() {
            let tiles = document.getElementById("tiles");
            document.querySelectorAll('.wrapper').forEach(function (element) {
                element.remove();
            });
            for (let { key, data } of docManager.getAllDocuments()) {
                let wrapper = DOMManager.createElement("div", "wrapper");
                let tile = DOMManager.createElement("div", "tile", data["name"]);
                
                if (data["cover"]) {
                    tile.style.backgroundImage = `url(${data["cover"]})`;
                }
                tile.addEventListener("click", function () {
                    storageManager.setKey('currentlyOpen', key.trim());
                    window.location.href = '/Main/Write';
                });

                let buttonContainer = DOMManager.createElement("div", "buttonContainer");

                let exportButton = DOMManager.createElement("button", "tileButton", 'Download');
                exportButton.addEventListener("click", function (event) {
                    event.stopPropagation();
                    docManager.exportDocument(key);
                });

                let deleteButton = DOMManager.createElement("button", "tileButton", 'Delete');
                deleteButton.addEventListener("click", function (event) {
                    event.stopPropagation(); 
                    if (confirm(`Are you sure you want to delete ${data["name"]}?`)) {
                        docManager.removeDocument(key);
                        DOMManager.removeChild(tiles, wrapper);
                    }
                });

                let editButton = DOMManager.createElement("button", "tileButton", 'Rename');
                editButton.addEventListener("click", function (event) {
                    event.stopPropagation(); 
                    let newName = prompt("Enter new document name: ", data["name"]);
                    if (newName === null || newName.trim() === "") {
                        alert("Invalid document name!");
                        return;
                    }
                    data["name"] = newName;
                    docManager.storageManager.setKey(key, data);  
                    DOMManager.updateTextContent(tile, newName);
                });
                
                DOMManager.appendChild(wrapper, tile);
                DOMManager.appendChild(buttonContainer, exportButton);
                DOMManager.appendChild(buttonContainer, editButton);
                DOMManager.appendChild(buttonContainer, deleteButton);
                DOMManager.appendChild(wrapper, buttonContainer);
                DOMManager.appendChild(tiles, wrapper);
            }
        }

        // For adding a new document
        function addDocument() {
            let name = prompt("Enter document name: ");
            if (name === null || name.trim() === "") {
                alert("Invalid document name!");
                return;
            }
            docManager.addDocument({ "name": name });
            window.location.href = '/Main/Write';
        }

        function importDocument(file) {
            const reader = new FileReader();
            reader.readAsText(file, "text/json");
            reader.onload = function (event) 
            {   
                const fileContent = JSON.parse(event.target.result);
                docManager.addDocument(
                    {
                    "name": fileContent["name"],
                    "content": fileContent["content"],
                    "cover": fileContent["cover"]
                    })
                displayDocuments()
            }
        }

        window.onload = displayDocuments();

        let documentInput = document.getElementById("importDocument");

        document.getElementById("importDocumentButton").onclick = () => {
            documentInput.click();
        }
        documentInput.onchange = () => {
            importDocument(documentInput.files[0]);
        }
    </script>
</body>
</html>