@{
    ViewData["Title"] = "Write";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css" />
<style>
    section {
        display: grid;
        flex-basis: 100%;
        grid-template-columns: 1fr 10px 1fr;
        background-color: rgb(249, 241, 223);
    }

    #writeAreaHolder {
        display: flex;
        overflow-y: auto;
    }

    #writeAreaHolder nav {
        flex: 1 1 auto;
        background-color: rgb(255, 255, 255);
        flex-direction: row;
        padding: 0;
    }

    button {
        cursor: pointer; 
        border: none;
        text-decoration: none;
        padding: 6px;
        flex-grow:0;
    }

    #writeArea, #displayAreaHolder {
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
        color: #000000;
        flex-grow: 1;
    }

    #displayAreaHolder {
        padding: 0 10px;
    }

    #writeArea {
        font-family: monospace;
        line-height: 21px;
        overflow-y: auto;
        flex-basis: 100%;
    }

    .CodeMirror {
        height: 100%;
        background-color: rgb(249, 241, 223);
    }

    .resizer {
        cursor: ew-resize;
        background-color: rgb(18, 24, 32);
    }
</style>
<section>
    <div id="writeAreaHolder">
        <nav>
            <button onclick="postDocument()">Save</button>
            <button onclick="printDocument()">Print</button>
        </nav>
        <div id="writeArea">
    </div>
    </div>
    <div class="resizer"></div>
    <div id="displayAreaHolder"></div>
</section>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
<script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
<script>
    $("#displayAreaHolder").on("scroll", function () {
        localStorage.setItem("PathBinder-Scroll", $("#displayAreaHolder").scrollTop());
    });

    const editor = CodeMirror(document.getElementById("writeArea"), {
        lineNumbers: true,
        lineWrapping: true,
        styleActiveLine: true,
        matchBrackets: true,
        theme: "default",
        mode: "markdown",
        scrollbarStyle: "native"
    });
    const displayArea = document.getElementById("displayAreaHolder");
    const converter = new showdown.Converter();
    const shadow = displayArea.attachShadow({ mode: "open" });
    const style = document.createElement("style");
    style.textContent = `
            * {
                box-sizing: border-box;
            }
            .page {
                width: 210mm;
                height: 297mm;
                margin: 30px auto;
                background-image: url(../assets/page.png);
                box-shadow: 1px 4px 14px #000;
                padding-left: 1.5cm;
                padding-right: 1.5cm;
                padding-bottom: 0.5cm;
                padding-top: 1cm;
            }

            .page, .columnWrapper {
                column-count: 2;
                column-fill: auto;
                overflow: hidden;
            }

            .columnWrapper {
                height: 282mm;
            }

            .page * {
                font-size: .317cm;
            }

            .page .columnWrapper {
                column-span: all;
                position: relative;
            }

            .page .wide {
                column-span: all;
                text-align: center;
            }

            .page .cover {
                position: absolute;
                top: 0;
                width: 100%;
            }

            .page .title {
                    text-shadow: 1px 1px 0 #EFCD98, -1px 1px 0 #EFCD98, 1px -1px 0 #EFCD98,
                    -1px -1px 0 #EFCD98, 0px 1px 0 #EFCD98, 0px -1px 0 #EFCD98, -1px 0px 0 #EFCD98,
                    1px 0px 0 #EFCD98, 2px 2px 0 #EFCD98, -2px 2px 0 #EFCD98, 2px -2px 0 #EFCD98,
                    -2px -2px 0 #EFCD98, 0px 2px 0 #EFCD98, 0px -2px 0 #EFCD98, -2px 0px 0 #EFCD98,
                    2px 0px 0 #EFCD98, 1px 2px 0 #EFCD98, -1px 2px 0 #EFCD98, 1px -2px 0 #EFCD98,
                    -1px -2px 0 #EFCD98, 2px 1px 0 #EFCD98, -2px 1px 0 #EFCD98, 2px -1px 0 #EFCD98,
                    -2px -1px 0 #EFCD98;
                    font-size: 7em;
                    position: absolute;
                    bottom: 60px;
                    width: 100%;
                    text-align: center;
            }

            .page .subtitle {
                margin-top: -30px;
                font-size: 1.4em;
                color: #5E0000;
                background-image: url(../assets/subtitle.png);
                background-position: bottom;
                background-repeat: no-repeat;
                padding: 0 40px 40px 40px;
                background-size: 800px;
                font-family: 'DM Serif Text', serif;
                text-align: justify;
            }

            .page .break {
                -webkit-column-break-after: always;
            }

            .page .linebreak {
                   border-bottom: 1px solid;
            }

            .page .action {
                margin-top: 0px;
                margin-bottom: 0px;
                margin-right: -1px;
                margin-left: -1px;
            }

            .page .oneaction {
                width: 14px;
            }

            .page .twoaction {
                height: 22px;
                width: 24px;
            }

            .page .threeaction {
                height: 28px;
                width: 32px;
            }

            .page .label {
                float: right;
                font-size: .458cm;
            }

            .page .tag {
                margin: 0;
                margin-right: -4px;
                display: inline-block;
                font-family: 'Roboto Condensed', sans-serif;
                border: 2px solid #DAC68A;
                border-radius: 2px;
                background-color: #58180D;
                color: white;
                text-align: center;
                padding: 2px 4px;
                text-transform: uppercase;
            }

            .page .line {
                margin-left: 1em;
                text-indent: -1em;
            }

            .page h1, .page h2, .page h3, .page h4, .page h5 {
                margin-top: 0.2em;
                margin-bottom: 0.2em;
            }

            .page h1 {
                font-size: 5em;
                -webkit-text-stroke-width: 1.2px;
                font-family: 'Eczar', sans-serif;
                color: #58180D;
            }

            .page h2 {
                color:#02256E;
                font-size: 2.25em;
                line-height: 1.1;
                -webkit-text-stroke-width: 0.9px;
                    font-family: 'Eczar', sans-serif;
            }

            .page h3 {
                font-family: 'Teko', sans-serif;
                font-size: 2em;
                -webkit-text-stroke-width: 0.6px;
                font-weight:normal;
                color: #58180D;
            }

            .page h4 {
                font-family: 'Tauri', sans-serif;
                margin-bottom: 0;
                border-bottom: 1px solid;
                font-size: .458cm;
                font-weight: normal;
                -webkit-text-stroke-width: 0.5px;
                color: #000000;
            }

            .page h5 {
                font-family: 'Tauri', sans-serif;
                font-size: .423cm;
                font-weight: 900;
                text-transform: uppercase;
                margin-top: 10.5px;
                color: #000000;
            }

            .page h6 {
                background-color: #002664;
                color: #EDE3C8;
                border-bottom: 1px solid #002664;
                margin-bottom: 5px;
                padding-left: 8px;
                padding-top: 5px;
                padding-bottom: 3px;
                font-size: 1.25em;
                font-family: 'Tauri', sans-serif;
                text-transform: uppercase;
                border-radius: 12px 12px 0px 0px;
                font-weight: 500;
                margin-top: 10.5px;
            }

            .page p {
                font-family: 'Gelasio', sans-serif;
                line-height: 1.4;
                text-align: justify;
                margin: 0;
            }

            .page p+p {
                text-indent: 1em;
            }

            .page img {
                vertical-align: middle;
            }
        `;
    function cleanContent(html) {
        const parser = new DOMParser();
        const doc = parser.parseFromString(html, 'text/html');

        // Remove hyperlinks
        const anchors = doc.querySelectorAll('a');
        anchors.forEach(anchor => {
            const text = document.createTextNode(anchor.textContent);
            anchor.parentNode.replaceChild(text, anchor);
        });
            
        // Remove class attributes
        const elementsWithClass = doc.querySelectorAll('[class]');
        elementsWithClass.forEach(el => {
            el.removeAttribute('class');
        });

        const spans = doc.querySelectorAll('span');
        spans.forEach(span => {
            const div = document.createElement('div');
            div.className = 'line';
            div.innerHTML = span.innerHTML;
            span.parentNode.replaceChild(div, span);
        });

        const h1s = doc.querySelectorAll('h1');
        h1s.forEach(h1 => {
            const h4 = document.createElement('h4');
            h4.innerHTML = h1.innerHTML;
            h1.parentNode.replaceChild(h4, h1);
        });
        
        const h4s = doc.querySelectorAll('h4');
        h4s.forEach(h4 => {
            const secondChild = h4.children[0];
            if (secondChild) {
                const div = document.createElement('div');
                div.className = 'label';
                div.innerHTML = secondChild.innerHTML;
                h4.replaceChild(div, secondChild);
            }
        });

        const divs = doc.querySelectorAll('div');
        for (let i = 0; i < divs.length; i++) {
            const div = divs[i];
            if (div.querySelector('b')) {
                break;
            }
            if (div.className === 'line') {
                div.className = 'tag';
                // Insert a space after the div to ensure consistent spacing
                const space = document.createTextNode(' ');
                div.parentNode.insertBefore(space, div.nextSibling);
            }
            if (!div.textContent.trim()) {
                div.remove();
            }
        }

        return doc.body.innerHTML;
    }

    async function extractContent(content) {
        const titleElements = content.querySelectorAll('.title');
        const secondTitle = titleElements[1];
        let currentNode = secondTitle.nextSibling;
        let extractedContent = cleanContent(secondTitle.outerHTML);
        while (currentNode) {
            if (["H1", "H2", "H3", "H4", "H5", "H6"].includes(currentNode.tagName) || !currentNode.nextSibling) {
                break;
            }
            extractedContent += currentNode.outerHTML ? cleanContent(currentNode.outerHTML) : currentNode.textContent;
            currentNode = currentNode.nextSibling;
        }

        return extractedContent;
    }

    async function importFromArchives(url) {
        const serverEndpoint = '@Url.Action("PostImport", "Import")';
        const localStorageKey = `archive-${url}`;
        const parser = new DOMParser();
        
        let cachedData = localStorage.getItem(localStorageKey);
        if (cachedData) {
            cachedData = parser.parseFromString(cachedData, 'text/html');
            return await extractContent(cachedData);
        }

        try {
            const response = await fetch(serverEndpoint, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ Url: url })
            });

            if (!response.ok) {
                throw new Error('Network response was not ok');
            }

            let data = await response.text();
            data = parser.parseFromString(data, 'text/html');
            let element = data.getElementById('ctl00_RadDrawer1_Content_MainContent_DetailedOutput');
            localStorage.setItem(localStorageKey, element.innerHTML);
            return element.innerHTML;
        } catch (error) {
            console.error('There was a problem with the fetch operation:', error.message);
        }
    }

    async function replacePlaceholders(placeholder) {
        // Remember that classes need to be in a list, even if only one element
        const elements = {
            "cover": { "html": "img", "classes": ["cover", "wide"], "isImage": true },
            "title": { "html": "h1", "classes": ["wide", "title"] },
            "header": { "html": "header", "classes": ["wide", "subtitle"] },
            "columnbreak": { "html": "div", "classes": ["break"] },
            "linebreak": { "html": "div", "classes": ["linebreak"] },
            "passive": { "html": "img", "src": "../assets/passive.png", "classes": ["action", "oneaction"] },
            "freeaction": { "html": "img", "src": "../assets/freeaction.png", "classes": ["action", "oneaction"] },
            "oneaction": { "html": "img", "src": "../assets/oneaction.png", "classes": ["action", "oneaction"] },
            "twoaction": { "html": "img", "src": "../assets/twoaction.png", "classes": ["action", "twoaction"] },
            "threeaction": { "html": "img", "src": "../assets/threeaction.png", "classes": ["action", "threeaction"] },
            "reaction": { "html": "img", "src": "../assets/reaction.png", "classes": ["action", "oneaction"] },
            "tag": { "html": "div", "classes": ["tag"] },
            "label": { "html": "div", "classes": ["label"] },
            "line": { "html": "div", "classes": ["line"] },
            "import": {"import": true}
        }
        const regex = /([a-zA-Z]+)(.*)/mg;

        const asyncActions = [];

        placeholder = placeholder.replace(regex, function (match, element, content) {

                element = elements[element.toLowerCase()]
                if (element === undefined) {
                    return match;
                }
                if (element["import"] !== undefined) {
                    asyncActions.push({
                        type: 'import',
                        match: match,
                        content: content
                    });
                    return match; 
                }
                const newElement = document.createElement(element["html"]);
                if (element["src"] !== undefined) {
                    newElement.src = element["src"];
                }
                if (element["isImage"] !== undefined) {
                    newElement.src = content.trim();
                }
                else {
                    newElement.innerHTML = content.trim();
                }
                element["classes"]?.forEach(className => {
                    newElement.classList.add(className);
                });
                return newElement.outerHTML;
        });
        const asyncResults = await Promise.all(asyncActions.map(async (action) => {
            if (action.type === 'import') {
                return await importFromArchives(action.content);
            }
        }));

        for (let i = 0; i < asyncActions.length; i++) {
            placeholder = placeholder.replace(asyncActions[i].match, asyncResults[i]);
        }

        return placeholder;
    }

    async function replaceBrackets(text) {
        let index = 0;
        async function processSegment() {
            let content = '';
            while (index < text.length) {
                if (text[index] === '{' && text[index + 1] === '{') {
                    index += 2;
                    content += await processSegment();
                } else if (text[index] === '}' && text[index + 1] === '}') {
                    index += 2;
                    return await replacePlaceholders(content);
                } else {
                    content += text[index++];
                }
            }
            return content;
        }

        return await processSegment();
    }

    function applyClasses(content, selectors, className) {
        selectors.forEach(selector => {
            content.querySelectorAll(selector).forEach(element => {
                element.classList.add(className);
            });
        });
       
    }

    function createElementWithClass(tagName, className) {
        const element = document.createElement(tagName);
        element.classList.add(className);
        return element;
    }

    async function displayChange() {
        shadow.innerHTML = "";
        let htmlContent = editor.getValue();
        htmlContent = htmlContent.split("\{\{pagebreak\}\}");
        for (let element of htmlContent) {
            let page = createElementWithClass("div", "page");
            let columnWrapper = createElementWithClass("div", "columnWrapper");
            columnWrapper.innerHTML = await replaceBrackets(converter.makeHtml(element));
            applyClasses(columnWrapper, ["h1", "subtitle"], "wide");
            columnWrapper.innerHTML = columnWrapper.innerHTML.replace(/<p><\/p>|}}/gm, "");
            page.appendChild(columnWrapper);
            shadow.appendChild(page); 
        }
        shadow.appendChild(style);
    }

    editor.on("change", async function() {
        await displayChange(); 
        $("#displayAreaHolder").scrollTop(localStorage.getItem("PathBinder-Scroll"));
    });

    function postDocument() {
        localStorage.setItem('pathbinderEditorValue', editor.getValue());
    }

    function getDocument() {
        let storage = localStorage.getItem('pathbinderEditorValue');
        if (storage !== undefined) {
            editor.setValue(storage);
        }
    }

    function printDocument() {
        document.querySelectorAll('head link[rel="stylesheet"]').forEach((link) => {
            if (!link.href.endsWith('/css/site.css')) {
                shadow.appendChild(link.cloneNode());
            }
        });
        let printStyle = document.createElement("style");
        printStyle.textContent = `
                    html { margin: 0!important; }
                    body { margin: 0!important; }
                    .page { margin: 0!important; }
        `
        shadow.appendChild(printStyle)
        document.documentElement.innerHTML = shadow.innerHTML;
    }

    const config = { minColumnWidth: 200, resizerSelector: ".resizer", mainSectionSelector: "section" };
    const state = { isResizing: false, initialX: null, initialWidths: null };
    const elements = {
        resizer: document.querySelector(config.resizerSelector),
        main: document.querySelector(config.mainSectionSelector)
    };

    elements.resizer.addEventListener("mousedown", e => {
        state.isResizing = true;
        state.initialX = e.clientX;
        state.initialWidths = getInitialWidths();
        document.addEventListener("mousemove", onMouseMove);
        document.addEventListener("mouseup", onMouseUp);
    });

    function getInitialWidths() {
        const styles = getComputedStyle(elements.main);
        const columns = styles.gridTemplateColumns.split(" ");
        return [parseInt(columns[0]), parseInt(columns[2])];
    }

    function onMouseMove(e) {
        if (!state.isResizing) return;
        const deltaX = e.clientX - state.initialX;
        const [newLeftWidth, newRightWidth] = updateWidths(deltaX);
        elements.main.style.gridTemplateColumns = `${newLeftWidth}px 10px ${newRightWidth}px`;
    }

    function updateWidths(deltaX) {
        let newLeftWidth = state.initialWidths[0] + deltaX;
        let newRightWidth = state.initialWidths[1] - deltaX;
        if (newLeftWidth < config.minColumnWidth) {
            newLeftWidth = config.minColumnWidth;
            newRightWidth = state.initialWidths[0] + state.initialWidths[1] - config.minColumnWidth;
        } else if (newRightWidth < config.minColumnWidth) {
            newRightWidth = config.minColumnWidth;
            newLeftWidth = state.initialWidths[0] + state.initialWidths[1] - config.minColumnWidth;
        }
        return [newLeftWidth, newRightWidth];
    }

    function onMouseUp() {
        state.isResizing = false;
        document.removeEventListener("mousemove", onMouseMove);
        document.removeEventListener("mouseup", onMouseUp);
    }

    window.onload = (event) => {
        localStorage.setItem("PathBinder-Scroll", 0);
        getDocument();
    };
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}